@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo </h1>
    <h4>Aplicação construida para consumira API Awesome de cotação</h4>
    <h4>Click no link cotação Dolar para verificar informações sobre o Dolar </h4>
    <h4>Click no link cotação do Euro para verificar informações sobre o Euro</h4>
</div>
